<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            background-image: url(https://issafrica.s3.amazonaws.com/site/images/banners/2019-09-09-iss-today-4ir-banner.jpg); 
            background-size: cover;
        }

        h1 {
            color: floralwhite;
            text-align: center;
            font-family: 'Times New Roman', Times, serif
        }

        p {
            text-align: justify;
            margin: 20px;
            font-size: 18px;
            line-height: 1.5;
            color: beige
        }
    </style>
</head>
<body>
    <h1>About Us</h1>
    <p>
        TECHSPO Johannesburg 2023 is your chance to ...
    </p>
    <p>
        - Check out exhibitors showcasing the next generation of technology & innovation.
        - Be inspired, amazed and educated on how these evolving technologies will impact your business for greater growth.
        - Interact with technology enthusiasts, build your network and reunite with your peers.
    </p>
    <p>
        The 6th annual TECHSPO Johannesburg, two-day technology expo returns October 19th and 20th, 2023 to the luxurious Hilton Sandton Hotel in Johannesburg, South Africa.
    </p>
    <p>
        TECHSPO Johannesburg brings together some of the best developers, brands, marketers, technology providers, designers, innovators and evangelists looking to set the pace in our advanced world of technology.
    </p>
    <p>
        Watch exhibitors showcase the next generation of advances in technology & innovation, including; Internet, Mobile, AdTech, MarTech, and SaaS technologies.
    </p>
    <p>
        Be prepared to be inspired, amazed, and educated on how these evolving technologies will impact your business for greater growth.
    </p>
    <p>
        As part of TECHSPO Johannesburg is a limited attendance event, DigiMarCon South Africa 2023 Digital Marketing, Media and Advertising Conference
        (<a href="https://digimarconsouthafrica.co.za">https://digimarconsouthafrica.co.za</a>).
    </p>
    <p>
        If the conference is where the learning, theory, and inspiration happens, then the TECHSPO floor is where the testing, networking, and product interaction takes place.
    </p>
</body>
</html>
