<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>

    <link rel="stylesheet" href="style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background: #2d3b36 url(https://wallpaperaccess.com/full/2195679.jpg)no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding-top: 0px;
        }

        h1 {
            color: #fff;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
            padding-top: 30px;
            font-size: 100px;
            font-weight: 700;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0px;
        }

        h2 {
            color: #fff;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
            padding-top: 30px;
            font-size: 30px;
            font-weight: 700;
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0px;
        }

        h3 {
            color: #fff;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
            padding-top: 30px;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0px;
        }

        textarea {
            background: rgba(0, 0, 0, 0.4);
            width: 894px;
            height: 110px;
            border: none;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 18px;
            color: #fff;
            padding-left: 45px;
            padding-right: 20px;
            padding-top: 12px;
            margin-bottom: 20px;
            overflow: hidden;
        }

        select {
            width: 960px;
            height: 48px;
            line-height: 1.5;
            font-size: 1.4em;
            border: none;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -mox-border-radius: 10px;
            color: #fff;
            display: block;
            background: transparent;
            background-color: rgba(0,0,0,.4);
            margin-bottom: 20px;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 18px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .nameinput, .emailinput {
            width: 894px;
            height: 48px;
            border: none;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 18px;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
        }

        input[type=submit] {
            cursor: pointer;
        }

        input.nameinput {
            background: rgba(0, 0, 0, 0.4);
            padding-left: 45px;
        }

        input.emailinput {
            background: rgba(0, 0, 0, 0.4);
            padding-left: 45px;
        }

        input.message {
            background: rgba(0, 0, 0, 0.4);
            padding-left: 45px;
        }

        select.indent {
            padding-left: 45px;
            cursor: pointer;
        }

        ::-webkit-input-placeholder {
            color: #fff;
        }

        :-moz-placeholder {
            color: #fff;
        }

        ::-moz-placeholder {
            color: #fff;
        }

        :-ms-input-placeholder {
            color: #fff;
        }

        input:focus, textarea:focus {
            background-color: rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
            -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
            box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
            overflow: hidden;
        }

        .btn {
            border: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 18px;
            width: 200px;
            height: 48px;
            color: #000;
            background: #fff;
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            position: relative;
            outline: none;
            box-shadow: 0 6px #cecece;
            border-radius: 5px;
            float: left;
            margin-right: 6px;
        }

            .btn:hover {
                background: #fff;
                outline: none;
                box-shadow: 0 4px #cecece;
                top: 2px;
            }

            .btn:active {
                background: #fff;
                outline: none;
                box-shadow: 0 0 #cecece;
                top: 6px;
            }

        .flat {
            border: none;
            cursor: pointer;
            display: inline-block;
            outline: none;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }


            .flat:before {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                line-height: 3;
                font-size: 140%;
                width: 60px;
            }


        .flat {
            width: 960px !important;
            height: 48px;
            overflow: hidden;
            margin-bottom: 20px;
            background: url(http://www.jordancundiff.com/wp-content/uploads/2014/03/icon-dropdown.png) no-repeat right;
        }
    </style>
</head>

<body>
    <h1>Contact Us</h1>
    <div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
        <form action="/?page_id=143#wpcf7-f156-p143-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="156">
                <input type="hidden" name="_wpcf7_version" value="3.7.2">
                <input type="hidden" name="_wpcf7_locale" value="en_US">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f156-p143-o1">
                <input type="hidden" name="_wpnonce" value="d1da331d93">
            </div>
            <p>
                <span class="wpcf7-form-control-wrap Name">
                    <input type="text" name="Name" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder=" Your Name">
                </span>
                <span class="wpcf7-form-control-wrap Email">
                    <input type="email" name="Email" size="40" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder=" Your Email">
                </span>
                <span class="wpcf7-form-control-wrap Subject flat">
                    <select name="Subject" class="indent wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <select name="Subject" class="indent wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        <option value="General">General</option>
                        <option value="Enquire">Enquire</option>
                    </select>
                </span>
                <span class="wpcf7-form-control-wrap Message">
                    <textarea name="Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder=" Please type your message here"></textarea>
                </span>
                <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn">
                <img class="ajax-loader" src="http://www.jordancundiff.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
            </p>
            <div class="wpcf7-response-output wpcf7-display-none">
            </div>
        </form>
    </div>

    <address>
        <h2> Our Email adress</h2>
        <h3><strong> You can email us here:</strong> <a href="20231379@ctucareer.co.za">20231379@ctucareer.co.za</a></h3>
        <h2>Physical address:</h2>
        <h3>
            Goue Akker, 39 Buskus St, Baillie Park, Potchefstroom, 2526
            Redmond, WA 98052-6399
        </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564.052019591378!2d27.104786375432457!3d-26.71078507676814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e96811721f82f51%3A0xe1d28269f7be286e!2sCTU%20Training%20Solutions%20Potchefstroom!5e0!3m2!1sen!2sza!4v1698588121206!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </address>

    <h2>Survey</h2>
    <form>
        <h3>How did you find our website?</h3>
        <input type="radio" id="survey1" name="survey" value="easy">
        <label for="survey1">Easy to use</label><br>
        <input type="radio" id="survey2" name="survey" value="difficult">
        <label for="survey2">Difficult to use</label><br>

        <h3>Would you recommend our website to others?</h3>
        <input type="radio" id="survey3" name="recommend" value="yes">
        <label for="survey3">Yes</label><br>
        <input type="radio" id="survey4" name="recommend" value="no">
        <label for="survey4">No</label><br>

        <h3>Additional Comments</h3>
        <textarea rows="4" cols="50" name="comments"></textarea><br><br>

        <input type="submit" value="Submit Survey" class="btn">

    </form>
    @* Add some spave between the submit btn and footer *@
    <br><br>
    <br><br>
</body>
</html>
