@{
    ViewBag.Title = "Home Page";
}
<canvas id="backgroundCanvas"></canvas>

<body>

    <section>
        <div>
            <h1 class="Title">
                TECHEXPO 2023
            </h1>
        </div>
    </section>
    <main>
        <section class="Layout">
            <div class="left">
                <div class="ThirdOfPage">
                    <h2>
                        More about Us
                    </h2>
                    <a href="~/Views/Home/About.cshtml">
                    <img src="https://e1.pxfuel.com/desktop-wallpaper/634/471/desktop-wallpaper-motherboard-black-and-white-motherboards-lines.jpg" height="400" width="400" alt="Alternate Text" />
                    </a>
                   
                </div>
            </div>
        </section>

        <section class="Layout">
            <div class="middle">
                <div class="ThirdOfPage">
                    <h2> Members Only</h2>
                    <a href="">
                        <img src="https://www.innovationnewsnetwork.com/wp-content/uploads/2022/02/Background-Pic-696x392.png" height="400" width="400" alt="Alternate Text" />
                    </a>
                </div>
            </div>
        </section>

        <section class="Layout">
            <div class="right">
                <div class="ThirdOfPage">
                    <h2> Contact us </h2>
                    <a href="~/Views/Home/Contact.cshtml">
                        <img src="https://media.istockphoto.com/id/1325084682/photo/hand-holding-mobile-phone-blue-light-effect-on-black-background.jpg?s=612x612&w=0&k=20&c=B94ktEQc49p0U8MaGY-o9-G9kSLixrPrsM1O3-1iKBs=" height="400" width="400" alt="Alternate Text" />
                     </a>
                  </div>
            </div>
        </section>
    </main>

</body>